---
- name: PHP SCL | scl_repo
  when: php_scl_install_scl_repo
  tags:
    - scl
    - php
    - yum
    - repo
  block:
    - name: PHP SCL | ensure scl-utils are installed
      yum:
        name: "{{ item }}"
        state: installed
      with_items: php_scl_scl_utils_packages

    - name: PHP SCL | install php scl repository
      yum:
        name: "{{ php_scl_scl_repo_url }}"
        state: installed
